.App {
  text-align: center;
}

.Cart-logo {
  height: 40px;
  pointer-events: none;
  margin: 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ma {
  margin: auto;
}

.m-all-10 {
  margin: 10px!important;
}

.ml-10 {
  margin-left: 10px!important;
}

.mt-20 {
  margin-top: 20px!important;
}

.mb-10 {
  margin-bottom: 10px!important;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}

.item:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.hide {
  display: none!important;
}
